# Gradle
.gradle/
build/
app/build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Kotlin
.kotlin/
kotlin-profile/

# Logs
*.log
hs_err_pid*

# Generated/cache folders
caches/
daemon/
native/
.tmp/
android/

# OS files
.DS_Store
Thumbs.db


wrapper/